@charset "UTF-8";

@font-face {
  font-family: 'Raleway', Arial, sans-serif;
  src: local('Inconsolata'), url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap') format('truetype');
}

:root {
  --cor-body: rgb(242, 196, 196);
  --cor-header: rgba(238, 242, 243, 0.8);
  --cor-menu-e-rodape: rgb(191, 11, 26);
  --cor-servico-superior: rgba(238, 242, 243, 0.45);
  --cor-insta: rgb(217, 121, 121);
}

::selection {
  background: rgb(253, 213, 213);
  color: rgb(93, 10, 10);
}

/* INICIO CONFIGURAÇÕES GERAIS */
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-body);
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1.5em;
  cursor: default;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  padding: 0 5%;
  background-color: var(--cor-header);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 3;
}

main {
  position: relative;
  top: 100px;
  width: 100vw;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  margin-top: 50px;
  padding: 15px;
  background-color: var(--cor-menu-e-rodape);
  color: var(--cor-header);
  letter-spacing: 0.1em;
  text-align: center;
}

footer a {
  color: var(--cor-header);
}

a {
  text-decoration: none;
}
/* FIM CONFIGURAÇÕES GERAIS */

/* INICIO MENU */
.logo {
  height: 80px;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

nav a {
  font-weight: bold;
  padding: 20px;
  color: var(--cor-menu-e-rodape);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.6s;
}

nav a:hover {
  filter: grayscale(7);
  color: var(--cor-menu-e-rodape);
}

.fa.fa-instagram {
  font-size: 20pt;
}

/* FIM MENU

INICIO HORÁRIOS DO TOPO */
.contato-topo {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 1.7em 0;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-header);
  z-index: 1;
}

.contato-topo a {
  color: var(--cor-header);
  transition: all 0.4s;
}

h2 {
  padding-bottom: 0.7em;
  font-size: 20pt;
  font-weight: normal;
  letter-spacing: 0.1em;
}

h2:has(.fa-clock-o) {
  transform: translateX(-40px);
}

.fa.fa-clock-o,
.fa.fa-map-marker,
.fa.fa-mobile,
.fa.fa-home {
  font-size: 26pt;
}

h2:has(.fa-map-marker) {
  transform: translateX(-33px);
}

address {
  font-style: normal;
}

h2:has(.fa-mobile) {
  transform: translateX(-25px);
}

.contato-div p {
  font-size: 14pt;
}

.contato-div a:hover {
  color: var(--cor-insta);
}
/* FIM HORÁRIOS DO TOPO

INICIO SERVIÇOS */
/* Embrulhos */
.servicos-primeiro {
  background: url("imagens/massagem-terapeutica.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servicos-segundo {
  background: url("imagens/liberacao-miofascial.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servicos-terceiro {
  background: url("imagens/pedras-quentes.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servicos-quarto {
  background: url("imagens/dry-needling.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servicos-quinto {
  background: url("imagens/ventosaterapia.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/* Figura dos serviços */
.servicos-figura-superior {
  position: relative;
  height: calc(50vh - 100px);
  background-color: var(--cor-servico-superior);
}

h1 {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin: 0 26%;
  padding: 20px 0;
  border-top: 1px solid rgb(115, 115, 115);
  border-bottom: 1px solid rgb(115, 115, 115);
  font-size: 22pt;
  color: var(--cor-menu-e-rodape);
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.servicos-primeiro:first-child h1 {
  top: 75%;
}

.servicos-figura-inferior {
  height: 50vh;
  background-color: var(--cor-inferior);
}
/* FIM SERVIÇOS

INICIO SOBRE */
#sobre {
  width: 950px;
  margin: auto;
  padding: 7em 0;
}

h3 {
  padding-bottom: 1em;
  font-size: 18pt;
  color: var(--cor-menu-e-rodape);
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  padding-bottom: 2em;
  font-size: 16pt;
  color: var(--cor-insta);
  letter-spacing: 0.15em;
  text-align: center;
}

.sobre-flex {
  display: flex;
  justify-content: space-between;
}

.sobre-flex p {
  width: 450px;
  font-size: 14pt;
  line-height: 2em;
}
/* FIM SOBRE

INICIO PUBLICAÇÕES*/
#insta {
  padding: 7em 25%;
  background-color: var(--cor-header);
}
/* FIM PUBLICAÇÕES

INICIO CONTATO DO FIM*/
#contato-fim {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7em 0;
  background-color: var(--cor-menu-e-rodape);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-header);
}

.horarios-contato {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.contato-div address,
.phone {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 300px;
}

.phone {
  width: 195px;
  padding: 1em 0 0 10px;
}

.phone a {
  color: var(--cor-header);
  transition: all 0.4s;
}

.phone a:hover {
  font-weight: bold;
  color: white;
}

.mapa {
  width: 400px;
  height: 200px;
  border: 0;
}
/* FIM CONTATO DO FIM
