@charset "UTF-8";

/* MEDIA QUERIES:
600
768
992
1200
*/

@font-face {
  font-family: "Raleway", Arial, sans-serif;
  src: local("Inconsolata"),
    url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap")
      format("truetype");
}

:root {
  --cor-clara: rgba(238, 242, 243, 0.8);
  --cor-roseada: rgb(255, 237, 238);
  --cor-rubro: rgb(164, 11, 26);
  --cor-escura: rgb(82, 81, 81);
}

::selection {
  background: rgb(255, 206, 208);
  color: rgb(59, 59, 59);
}

/* INICIO CONFIGURAÇÕES GERAIS */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-roseada);
  font-family: "Raleway", Arial, sans-serif;
  font-display: swap;
  line-height: 1.5em;
  cursor: default;
}

header {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  padding: 0 1%;
  background-color: var(--cor-clara);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
@media only screen and (max-width: 768px) {
  /* DROPDOWN MENU */
  header {
    display: none;
  }
}

footer {
  padding-bottom: 10px;
  background-color: var(--cor-rubro);
  color: var(--cor-clara);
  letter-spacing: 0.1em;
  text-align: center;
}

a {
  text-decoration: none;
}
/* FIM CONFIGURAÇÕES GERAIS */

/* INICIO MENU */
.logo {
  aspect-ratio: 3.09;
  transition: all 0.4s;
}
@media only screen and (min-width: 768px) {
  .logo {
    height: 60px;
  }
}
@media only screen and (min-width: 992px) {
  .logo {
    height: 80px;
  }
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.menu-item {
  font-weight: bold;
  color: var(--cor-rubro);
  text-transform: uppercase;
  transition: all 0.4s;
}
@media only screen and (min-width: 768px) {
  .menu-item {
    padding: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .menu-item {
    padding: 20px;
    letter-spacing: 0.1em;
  }
}

.menu-instagram {
  content: url("imagens/instagram.svg");
  width: 60px;
  height: 60px;
  padding: 15px;
  filter: invert(13%) sepia(79%) saturate(2476%) hue-rotate(-30deg);
}

@media only screen and (min-width: 1024px) {
  .menu-item:hover,
  .menu-instagram:hover {
    filter: grayscale(7);
  }
}
/* FIM MENU

INICIO INFORMAÇÕES DO TOPO */
#topo-info-container {
  position: absolute;
  top: 100px;
  z-index: 1;
  justify-content: space-evenly;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-clara);
}
@media only screen and (max-width: 600px) {
  #topo-info-container {
    display: flex;
    flex-direction: column;
    padding: 16pt 20vw;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (min-width: 600px) {
  #topo-info-container {
    display: grid;
    padding: 16pt 1vw;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (min-width: 768px) {
  #topo-info-container {
    display: flex;
    height: calc((50vh - 100px) / 2);
    padding: 16pt 1vw;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (min-width: 1200px) {
  #topo-info-container {
    padding: 16pt 15vw;
  }
}

@media only screen and (max-width: 768px) {
  .info-wrapper {
    margin: 8pt 0;
  }
}

@media only screen and (min-width: 600px) {
  #topo-info-container .info-wrapper:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
}
@media only screen and (min-width: 600px) {
  #topo-info-container .info-wrapper:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
}
@media only screen and (min-width: 600px) {
  #topo-info-container .info-wrapper:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

h2 {
  margin-bottom: 6pt;
  font-weight: normal;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 18pt;
  }
}
@media only screen and (min-width: 600px) {
  h2 {
    font-size: 20pt;
  }
}

.horario-icon,
.endereco-icon,
.telefone-icon {
  position: relative;
}

.horario-icon:before,
.endereco-icon:before,
.telefone-icon:before {
  position: absolute;
  top: -5px;
  left: -38px;
  display: inline-block;
  filter: invert(1) brightness(0.8);
}

.horario-icon:before {
  content: url("imagens/clock.svg");
  height: 28px;
  width: 28px;
}

.endereco-icon:before {
  content: url("imagens/location-pin.svg");
  height: 23px;
  width: 23px;
}

.telefone-icon:before {
  content: url("imagens/mobile.svg");
  height: 23px;
  width: 23px;
}

address {
  font-style: normal;
}

.numero {
  color: var(--cor-clara);
}

@media only screen and (min-width: 1024px) {
  .numero:hover {
    color: white;
    font-weight: bold;
  }
}
/* FIM INFORMAÇÕES DO TOPO

INICIO SERVIÇOS */
@media only screen and (max-width: 600px) {
  #servicos-container,
  #sobre-container,
  #insta-container,
  #inferior-info-container,
  footer {
    position: relative;
    top: 422px;
  }
}
@media only screen and (max-width: 768px) {
  #servicos-container,
  #sobre-container,
  #insta-container,
  #inferior-info-container,
  footer {
    position: relative;
    top: 321px;
  }
}

.servico-um {
  background: url("imagens/massagem-terapeutica.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servico-dois {
  background: url("imagens/liberacao-miofascial.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servico-tres {
  background: url("imagens/pedras-quentes.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servico-quatro {
  background: url("imagens/dry-needling.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servico-cinco {
  background: url("imagens/ventosaterapia.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.servico-superior {
  position: relative;
  height: 50vh;
  background-color: rgba(238, 242, 243, 0.45);
}

.servico-inferior {
  height: 50vh;
}

h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  margin: auto;
  padding: 15px 0;
  border-top: 1px solid var(--cor-escura);
  border-bottom: 1px solid var(--cor-escura);
  color: var(--cor-rubro);
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  h1 {
    margin: 0 15px;
    font-size: 20pt;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    width: 550px;
    font-size: 22pt;
    letter-spacing: 0.2em;
  }
}

@media only screen and (min-width: 768px) {
  .servico-um:first-child h1 {
    top: auto;
    bottom: calc((50% - 50px) / 2);
    transform: translate(0, 50%);
  }
}
/* FIM SERVIÇOS

INICIO SOBRE */
#sobre-container {
  padding: 7em 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-bottom: 1em;
  color: var(--cor-rubro);
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 16pt;
  }
}
@media only screen and (min-width: 600px) {
  h3 {
    font-size: 18pt;
  }
}

h4 {
  margin-bottom: 2em;
  color: var(--cor-escura);
  letter-spacing: 0.15em;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  h4 {
    font-size: 14pt;
  }
}
@media only screen and (min-width: 600px) {
  h4 {
    font-size: 16pt;
  }
}

@media only screen and (min-width: 600px) {
  .sobre-wrapper {
    display: flex;
    justify-content: center;
  }
}

.sobre-wrapper p {
  color: var(--cor-escura);
  line-height: 2em;
}
@media only screen and (max-width: 600px) {
  .sobre-wrapper p {
    margin: 1.5em;
  }
}
@media only screen and (min-width: 600px) {
  .sobre-wrapper p {
    width: 360px;
    margin: 0 2em;
    font-size: 14pt;
  }
}
/* FIM SOBRE

INICIO PUBLICAÇÕES*/
#insta-container {
  padding: 7em 25%;
  background-color: var(--cor-clara);
}
/* FIM PUBLICAÇÕES

INICIO INFORMAÇÕES FINAIS*/
#inferior-info-container {
  justify-content: space-evenly;
  background-color: var(--cor-rubro);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-clara);
}
@media only screen and (max-width: 600px) {
  #inferior-info-container {
    display: flex;
    flex-direction: column;
    padding: 4em 25vw;
  }
}
@media only screen and (min-width: 600px) {
  #inferior-info-container {
    display: grid;
    padding: 4em 7vw;
  }
}
@media only screen and (min-width: 768px) {
  #inferior-info-container {
    display: flex;
    padding: 4em 0vw;
  }
}
@media only screen and (min-width: 1200px) {
  #inferior-info-container {
    padding: 4em 10vw;
  }
}

@media only screen and (max-width: 768px) {
  #inferior-info-container .info-wrapper:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
}
@media only screen and (max-width: 768px) {
  #inferior-info-container .info-wrapper:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
}

.endereco-icon {
  width: 250px;
}

a:has(.mapa) {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.mapa {
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  transition: all 0.4s;
}
@media only screen and (max-width: 992px) {
  .mapa {
    width: 200px;
  }
}
@media only screen and (min-width: 992px) {
  .mapa {
    width: 350px;
  }
}

/* FIM INFORMAÇÕES FINAIS

FOOTER */
footer a {
  color: var(--cor-clara);
}

/* Ler best practices
Passar hover pro desktop */
