@charset "UTF-8";

@font-face {
  font-family: "Raleway", Arial, sans-serif;
  src: local("Inconsolata"),
    url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap")
      format("truetype");
}

/* INICIO CONFIGURAÇÕES GERAIS */
:root {
  --cor-clara: rgb(238, 242, 243);
  --cor-roseada: rgb(255, 237, 238);
  --cor-rubro: rgb(164, 11, 26);
  --cor-escura: rgb(82, 81, 81);
}

::selection {
  background: rgb(255, 206, 208);
  color: var(--cor-escura);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: var(--cor-roseada);
  font-family: "Raleway", Arial, sans-serif;
  font-display: swap;
  line-height: 2em;
  cursor: default;
}

header {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100px;
  background-color: rgba(238, 242, 243, 0.8);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
  }
}

main,
footer {
  position: relative;
  top: 100px;
}

footer {
  padding-bottom: 10px;
  background-color: var(--cor-rubro);
  font-size: 10pt;
  color: var(--cor-clara);
  letter-spacing: 0.1em;
  text-align: center;
}

a {
  color: var(--cor-clara);
  text-decoration: none;
}
/* FIM CONFIGURAÇÕES GERAIS

INICIO MENU */
.logo {
  aspect-ratio: 3.09;
  transition: all 0.4s;
}
@media only screen and (min-width: 768px) {
  .logo {
    height: 65px;
  }
}
@media only screen and (min-width: 1024px) {
  .logo {
    height: 80px;
  }
}

ul {
  display: flex;
  list-style-type: none;
}

.menu-item {
  font-weight: bold;
  color: var(--cor-rubro);
  text-transform: uppercase;
  transition: all 0.4s;
}
@media only screen and (min-width: 768px) {
  .menu-item {
    padding: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-item {
    padding: 20px;
    letter-spacing: 0.1em;
  }
}

.menu-instagram {
  content: url("imagens/instagram.svg");
  width: 45px;
  height: 45px;
  padding: 5px;
  filter: invert(13%) sepia(79%) saturate(2476%) hue-rotate(-30deg);
}

.menu-item:hover,
.menu-instagram:hover {
  filter: grayscale(7);
}

/* Mobile menu */
@media only screen and (min-width: 768px) {
  input[type="checkbox"],
  .linhas-menu {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    margin: auto;
  }

  input[type="checkbox"] {
    position: absolute;
    top: 33px;
    right: 29px;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
  }

  .linhas-menu {
    position: absolute;
    top: 35px;
    right: 27px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 25px;
  }

  .linha {
    display: block;
    height: 4px;
    border-radius: 10px;
    background: var(--cor-escura);
  }

  .linha1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .linha2 {
    transition: transform 0.2s ease-in-out;
  }

  .linha3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  input[type="checkbox"]:checked ~ ul {
    transform: translateX(0);
  }

  input[type="checkbox"]:checked ~ .linhas-menu .linha1 {
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked ~ .linhas-menu .linha2 {
    transform: scaleY(0);
  }

  input[type="checkbox"]:checked ~ .linhas-menu .linha3 {
    transform: rotate(-45deg);
  }

  ul {
    float: right;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding-top: 100px;
    background: rgba(238, 242, 243, 0.9);
    transform: translate(150%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px var(--cor-escura);
  }

  li {
    margin-bottom: 6rem;
    font-size: 16pt;
  }

  .menu-item {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0;
  }

  .menu-instagram {
    position: absolute;
    top: 25px;
    left: 27px;
  }
}
/* FIM MENU

INICIO SERVIÇOS */
.parallax-container {
  overflow: auto;
  height: calc(100vw / 1.5);
}
@media only screen and (max-width: 1023px) {
  .parallax-container::-webkit-scrollbar {
    width: 12px;
  }

  .parallax-container::-webkit-scrollbar-thumb {
    background-color: var(--cor-rubro);
    border-radius: 10px;
  }

  .parallax-container::-webkit-scrollbar-track {
    background-color: var(--cor-roseada);
    border-radius: 5px;
  }
}

#servicos-container {
  padding-top: 2.5em;
}

h1 {
  margin-bottom: 1em;
  color: var(--cor-rubro);
  letter-spacing: 0.15em;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 22pt;
  }
}

.servico-um {
  background: url("imagens/massagem-terapeutica.jpg") no-repeat fixed;
}

.servico-dois {
  background: url("imagens/liberacao-miofascial.jpg") no-repeat fixed;
}

.servico-tres {
  background: url("imagens/pedras-quentes.jpg") no-repeat fixed;
}

.servico-quatro {
  background: url("imagens/dry-needling.jpg") no-repeat fixed;
}

.servico-cinco {
  background: url("imagens/ventosaterapia.jpg") no-repeat fixed;
}
@media only screen and (max-width: 1023px) {
  .servico-um,
  .servico-dois,
  .servico-tres,
  .servico-quatro,
  .servico-cinco {
    background-size: contain;
    background-position: 50% 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .servico-um,
  .servico-dois,
  .servico-tres,
  .servico-quatro,
  .servico-cinco {
    background-size: cover;
    background-position: 50%;
  }
}

.servico-superior {
  position: relative;
  background-color: rgba(238, 242, 243, 0.5);
}
@media only screen and (max-width: 769px) {
  .servico-superior {
    height: calc(100vw / 3.5);
  }
}
@media only screen and (min-width: 800px) {
  .servico-superior {
    height: calc(50vh - 100px);
  }
}

.servico-inferior {
  position: relative;
}
@media only screen and (max-width: 1023px) {
  .servico-inferior {
    height: calc(100vw / 2.63);
  }
}
@media only screen and (min-width: 1024px) {
  .servico-inferior {
    height: 50vh;
  }
}

.servico-superior h2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  margin: auto;
  padding: 10px 0;
  border-top: 1px solid rgba(238, 242, 243, 0.8);
  border-bottom: 1px solid rgba(238, 242, 243, 0.8);
  color: var(--cor-rubro);
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  h2 {
    margin: 0 2em;
    font-size: 16pt;
    letter-spacing: 2pt;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    margin: 0 7em;
    letter-spacing: 0.2em;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    margin: 0 13em;
  }
}
/* FIM SERVIÇOS

INICIO INFORMAÇÕES DO TOPO */
#topo-info-container {
  top: 100px;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-clara);
  background-color: rgb(25, 23, 23);
}
@media only screen and (max-width: 639px) {
  #topo-info-container {
    padding: 40px 20vw;
  }
}
@media only screen and (min-width: 640px) {
  #topo-info-container {
    display: grid;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 40px 0;
  }
}
@media only screen and (min-width: 768px) {
  #topo-info-container {
    display: flex;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  #topo-info-container .info-wrapper:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #topo-info-container .info-wrapper:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #topo-info-container .info-wrapper:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
}

h4 {
  margin: 18pt 0 8pt;
  font-weight: normal;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15pt;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 16pt;
  }
}

.horario-icon,
.endereco-icon,
.telefone-icon {
  position: relative;
}

.horario-icon:before,
.endereco-icon:before,
.telefone-icon:before {
  position: absolute;
  top: -5px;
  left: -40px;
  filter: invert(1) brightness(0.9);
}

.horario-icon:before {
  content: url("imagens/clock.svg");
  height: 28px;
  width: 28px;
}

.endereco-icon:before {
  content: url("imagens/location-pin.svg");
  height: 23px;
  width: 23px;
}

.telefone-icon:before {
  content: url("imagens/mobile.svg");
  height: 23px;
  width: 23px;
}

address {
  width: 230px;
  font-style: normal;
}

.numero:hover {
  color: white;
  font-weight: bold;
}
/* FIM INFORMAÇÕES DO TOPO

INICIO SOBRE */
#sobre-container {
  padding: 3em 0 2em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--cor-roseada);
}

h3 {
  margin-bottom: 2em;
  color: var(--cor-escura);
  letter-spacing: 0.15em;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 15pt;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 16pt;
  }
}

@media only screen and (min-width: 720px) {
  .sobre-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 2em;
  }
}

.sobre-wrapper p {
  margin: 1.5em 3em;
  color: var(--cor-escura);
}

@media only screen and (min-width: 768px) {
  .sobre-wrapper p {
    width: 340px;
    margin: 0 2em;
    font-size: 14pt;
  }
}
/* FIM SOBRE

INICIO PUBLICAÇÕES */
#insta-container {
  padding: 3em 0 2em;
  background-image: linear-gradient(var(--cor-roseada), var(--cor-rubro));
}

#insta-container h1 {
  color: var(--cor-clara)
}

.instagram-icon {
  content: url("imagens/instagram.svg");
  position: absolute;
  right: 0;
  left: 0;
  width: 45px;
  height: 45px;
  margin: auto;
  padding: 5px;
  filter: invert(0.95);
}
/* FIM PUBLICAÇÕES

INICIO INFORMAÇÕES FINAIS */
#inferior-info-container {
  background-color: var(--cor-rubro);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-clara);
}
@media only screen and (max-width: 569px) {
  #inferior-info-container {
    padding: 2em 27vw;
  }
}
@media only screen and (min-width: 570px) {
  #inferior-info-container {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    padding: 4em 0;
  }
}
@media only screen and (min-width: 800px) {
  #inferior-info-container {
    display: flex;
    align-items: flex-start;
    padding: 4em 0;
  }
}

@media only screen and (min-width: 570px) and (max-width: 768px) {
  #inferior-info-container .info-wrapper:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
}
@media only screen and (min-width: 570px) and (max-width: 768px) {
  #inferior-info-container .info-wrapper:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
}

#inferior-info-container .endereco-icon:before,
#inferior-info-container .telefone-icon:before {
  left: -30px;
  height: 18px;
  width: 18px;
}

#inferior-info-container .endereco-icon:before {
  top: 5px;
}

#inferior-info-container .telefone-icon:before {
  top: 0;
}

@media only screen and (min-width: 570px) and (max-width: 768px) {
  a:has(.mapa) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

.mapa {
  margin-top: 18pt;
  height: 200px;
  border-radius: 7px;
  object-fit: cover;
}
@media only screen and (max-width: 1023px) {
  .mapa {
    width: 200px;
  }
}

/* FIM INFORMAÇÕES FINAIS

INÍCIO CHAT */
.chat-widget::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  width: 100%;
  height: 100%;
  background: url("imagens/chat-icon.svg") no-repeat;
  background-size: 33px;
  filter: invert(0.96);
}
.chat-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-color: rgb(35, 211, 102);
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.chat-widget::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 4px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.chat-container {
  position: fixed;
  right: 15px;
  bottom: 90px;
  display: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  line-height: normal;
}

.chat-header {
  display: flex;
  align-items: center;
  width: 360px;
  height: 100px;
  padding-left: 30px;
  background-color: rgb(0, 128, 105);
  border-radius: 10px 10px 0 0;
}

.chat-foto {
  position: relative;
}
.chat-foto::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 3px;
  width: 10px;
  height: 10px;
  background-color: rgb(35, 211, 102);
  border: 2px solid rgb(0, 128, 105);
  border-radius: 50%;
}

.chat-foto img {
  width: 50px;
  border-radius: 50%;
}

.chat-nome {
  padding-left: 15px;
}

.chat-nome h5 {
  margin: 0 0 3pt;
  font-size: 12pt;
  color: var(--cor-clara);
}

.chat-nome h6 {
  margin: 3pt 0 0;
  font-size: 11pt;
  font-weight: normal;
  color: var(--cor-clara);
}

.chat-main {
  width: 360px;
  height: 171px;
  padding: 1.5em 2em;
  background-color: rgb(239, 234, 226);
}

.chat-loader-wrapper {
  width: 55px;
  height: 32px;
  padding: 14px;
  background-color: var(--cor-clara);
  border-radius: 38%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  animation: typing 2s linear;
}

.chat-loader {
  position: relative;
  left: -12px;
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

.chat-mensagem-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -23px;
  width: 100%;
  height: 100%;
  background: url("imagens/chat-seta.png") no-repeat;
  filter: brightness(0.95);
}
.chat-mensagem-wrapper {
  position: relative;
  display: none;
  width: 247px;
  height: 122px;
  padding: 6px 7px 8px 9px;
  background-color: var(--cor-clara);
  border-radius: 0 10px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  animation: received 2s;
}

.chat-mensagem-wrapper h5 {
  margin: 5pt 0;
  color: var(--cor-rubro);
  font-size: 11pt;
}

.chat-mensagem-wrapper p {
  margin: 5pt 0;
  font-size: 11pt;
  line-height: 1.3em;
}

.chat-hora {
  position: relative;
  bottom: 23px;
  float: right;
  color: gray;
  font-size: 10pt !important;
}

.chat-footer {
  width: 360px;
  height: 60px;
  background-color: var(--cor-clara);
  border-radius: 0 0 10px 10px;
}

.chat-footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 38%;
  background: url("imagens/chat-icon.svg") no-repeat;
  background-size: 22px;
  filter: invert(0.96);
}
.chat-footer a {
  position: absolute;
  margin: 11px 27px;
  padding: 8px 115px 8px 145px;
  background-color: rgb(35, 211, 102);
  border: none;
  border-radius: 8px;
  color: var(--cor-clara);
  font-size: 11pt;
  font-weight: bold;
  cursor: pointer;
}

@keyframes loader {
  0% {
    background-color: rgb(0, 0, 0);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.5),
      24px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 12px 0px 0px 0px rgb(0, 0, 0),
      24px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.5),
      24px 0px 0px 0px rgb(0, 0, 0);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2),
      24px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2),
      24px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
}
/* FIM CHAT
Ler best practices*/
