@charset "UTF-8";

@font-face {
    font-family: 'San Francisco';
    src: url('fonts/SF-Pro-Regular.otf') format('opentype'),
        url('fonts/SF-Pro-Medium.otf') format('opentype'),
        url('fonts/SF-Pro-Semibold.otf') format('opentype'),
        url('fonts/SF-Pro-Bold.otf') format('opentype');
}

/* GENERAL STYLESHEETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'San Francisco', Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: #000000CC;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* HEADER > NAV */
nav {
    display: flex;
    justify-content: center;
    margin: auto;
}

nav a {
    color: #bbb;
    font-size: 9.3pt;
    letter-spacing: .2pt;
    text-decoration: none;
    padding: 14.5px 8.1px;
    margin: 0 14px;
}

.apple-icon {
    opacity: .85;
    background-image: url('images/apple-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 44px;
    width: 30px;
}

.search-icon {
    opacity: .85;
    background-image: url('images/search-icon.svg');
    background-position: 8px 0;
    background-repeat: no-repeat;
    background-size: 15px 88px;
    width: 30px;
}

.store-icon {
    opacity: .85;
    background-image: url('images/store-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 44px;
    width: 30px;
}

/* GENERAL MAIN > FIRST CONTENT */
.homepage-first-content {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 12px;
    margin-bottom: 12px;
}

.content-box {
    position: relative;
    height: 692px;
    background-position: center -44px;
}

.content-box>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-box-wrapper {
    position: relative;
    text-align: center;
    pointer-events: none;
}

h1 {
    font-size: 42pt;
    letter-spacing: .7pt;
}

h2 {
    font-size: 21pt;
    font-weight: normal;
    margin-bottom: 11pt;
}

h3 {
    font-size: 16pt;
    font-weight: normal;
    margin-bottom: 13pt;
}

.content-box-wrapper .links>a {
    font-size: 16pt;
    text-decoration: none;
    pointer-events: all;
}

.links>a:not(:first-child) {
    margin-left: 35px;
}

.links>a:hover {
    text-decoration: underline;
}

/* MAIN > FIRST CONTENT > iPAD */
.content-box.one {
    background-image: url(images/ipad.jpg);
}

.content-box-wrapper.one {
    width: 350px;
    height: 200px;
    transform: translate(274%, 126%);
}

.content-box-wrapper.one>h1,
.content-box-wrapper.one>h2 {
    color: #1d1d1f;
}

.content-box-wrapper.one>h3 {
    color: #6e6e73;
}

.content-box-wrapper.one .links>a {
    color: #06c;
}

/* MAIN > FIRST CONTENT > iPHONE */
.content-box.two {
    background-image: url(images/iphone.jpg);
}

.content-box-wrapper.two {
    padding-top: 50px;
}

.content-box-wrapper.two>h1,
.content-box-wrapper.two>h2 {
    color: #F5F5F7;
}

.content-box-wrapper.two .links>a {
    color: #2997ff;
}

/* MAIN > FIRST CONTENT > Fitness Plus */
.content-box.three {
    background-image: url(images/fitness-plus.jpg);
}

.content-box-wrapper.three {
    padding-top: 50px;
}

.content-box-wrapper.three>h1 {
    background-image: url(images/logo-fitness-plus.png);
    background-position: center;
    background-repeat: no-repeat;
}

.visuallyhidden {
    clip-path: inset(0px 0px 100% 100%);
}

.content-box-wrapper.three>h2 {
    color: #1d1d1f;
}

.content-box-wrapper.three>h3 {
    color: #6e6e73;
}

.content-box-wrapper.three .links>a {
    color: #06c;
}

/* GENERAL MAIN > SECONDARY CONTENT */
.homepage-secondary-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 12px;
    margin: 12px;
}

.grid-box {
    background-color: #FBFBFD;
    position: relative;
    width: 933px;
    height: 580px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.grid-box-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.grid-box>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid-box-wrapper>h1 {
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 51px;
    margin-bottom: 2pt;
}

.grid-box-wrapper>h2 {
    font-size: 16pt;
    margin-bottom: 9pt;
}

.grid-box-wrapper .links>a {
    font-size: 13pt;
    text-decoration: none;
    pointer-events: all;
}

.grid-box-wrapper .links>a:hover {
    text-decoration: underline;
}

/* MAIN > SECONDARY CONTENT > WATCH ULTRA */
.grid-box.one {
    background-image: url(images/apple-watch-ultra.jpg);
}

.grid-box-wrapper.one>h1 {
    background-image: url(images/logo-apple-watch-ultra.png);
}

.grid-box-wrapper.one .links>a {
    color: #06c;
}

/* MAIN > SECONDARY CONTENT > WATCH SERIES 8 */
.grid-box.two {
    background-image: url(images/apple-watch-series-8.jpg);
}

.grid-box-wrapper.two>h1 {
    background-image: url(images/logo-apple-watch-series-8.png);
}

.grid-box-wrapper.two>h2 {
    color: #f5f5f7;
}

.grid-box-wrapper.two .links>a {
    color: #2997ff;
}

.grid-box-wrapper.two>h1 {
    background-image: url(images/logo-apple-watch-series-8.png);
}

/* MAIN > SECONDARY CONTENT > iPHONE 14 */
.grid-box.three {
    background-image: url(images/iphone14.jpg);
    background-position-y: 40px;
}

.grid-box-wrapper.three>h1 {
    font-size: 30pt;
}

.grid-box-wrapper.three>h2 {
    margin-bottom: 7pt;
}

.grid-box-wrapper.three>h3 {
    color: #6e6e73;
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: 7pt;
}

.grid-box-wrapper.three .links>a {
    color: #06c;
}

/* MAIN > SECONDARY CONTENT > iPAD PRO */
.grid-box.four {
    background-image: url(images/ipad-pro.jpg);
}

.grid-box-wrapper.four>h1 {
    color: #F5F5F7;
    font-size: 30pt;
    margin-bottom: -3pt;
}

.grid-box-wrapper.four>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F7;
    margin-bottom: 4pt;
}

.logo-m2 {
    background-image: url(images/logo-m2-chip.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37px 37px;
    width: 37px;
    height: 37px;
}

.grid-box-wrapper.four>h3 {
    color: #6e6e73;
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: 9pt;
}

.grid-box-wrapper.four .links>a {
    color: #2997ff;
}

/* MAIN > SECONDARY CONTENT > TV 4K */
.grid-box.five {
    background-image: url(images/tv-4k.jpg);
}

.grid-box-wrapper.five>h1 {
    background-image: url(images/logo-tv-4k.png);
    margin-top: 39px;
    margin-bottom: -5pt;
}

.grid-box-wrapper.five>h3 {
    color: #6e6e73;
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: 10pt;
}

.grid-box-wrapper.five .links>a {
    color: #06c;
}

/* MAIN > SECONDARY CONTENT > MACBOOK AIR */
.grid-box.six {
    background-image: url(images/macbook-air.png);
}

.grid-box-wrapper.six>h1 {
    font-size: 30pt;
    margin-bottom: 2pt;
}

.grid-box-wrapper.six>h2 {
    background-image: url(images/logo-macbook-air.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 12pt;
}

.grid-box-wrapper.six .links>a {
    color: #2997ff;
}

/* FOOTER */
footer {
    background-color: #F5F5F7;
    padding: 17px 0 29px;
    letter-spacing: .1pt;
}

.footnotes-1 {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 11px;
}

.footer-wrapper {
    color: #6e6e73;
    width: 980px;
    font-size: 10pt;
    margin: auto;
}

.footnotes-1>p {
    padding-bottom: 9.6px;
}

.footer-pages {
    display: flex;
    justify-content: space-between;
}

.footer-pages-column {
    width: 20%;
    margin-right: 20px;
}

.footer-pages h3 {
    font-size: 10pt;
    font-weight: bold;
    margin-top: 16pt;
    margin-bottom: 1pt;
}

li {
    list-style-type: none;
    padding-top: 7pt;
}

.footnotes-2 {
    padding-top: 34px;
}

.shop {
    padding-bottom: 9px;
    border-bottom: 1px solid #d2d2d7;
    margin-bottom: 4px;
}

.shop p {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.shop a {
    color: #06C !important;
    text-decoration: none;
    padding-right: 0 !important;
    margin: 0 !important;
    border-right: none !important;
}

.footnotes-2 p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footnotes-2 a {
    color: #424245;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 7px;
    border-right: 1px solid #d2d2d7;
}

.brasil {
    float: right;
    padding-right: 0 !important;
    margin: 0 !important;
    border-right: none !important;
}

a:hover {
    text-decoration: underline;
}